div {
    margin-left: 200px;
}

table {
    border-collapse: collapse;
    border: #fff 1px solid;
}

td {
    text-align: end;
    background-color: #ee5351;
    border-radius: 8px;
    border-bottom: #fff solid 5px;
    font-size: 1.2rem;
    color: #fff;
}